<button (click)="saveAndReload()">グラフを表示</button>
<button (click)="clearAndReload()">データ・グラフを削除</button>
<button (click)="showRawData()">データをテキスト表示</button>

<div id="nodeEdgeData">
  {{nodeRawText}}
</div>
<div style="text-align:center" id="initial_form">
  <h1 style=" margin-top: 200px;">
    {{ title }}
  </h1>

  <!--<h3>PLEASE ENTER YOUR WALLET ID</h3>-->
  <div>
    <input [(ngModel)]="walletId" placeholder="Enter Address">
  </div>
  <button (click)="onSubmitClick()">Search</button>

  <h5 id="downloadMessage" style="display: none">
    {{downloadMessage}}
  </h5>
</div>
<!--<graph id="network_graph" style="display: block" [nodes]="nodes" [links]="links"></graph>-->
<graph id="network_graph" style="display: none;width: 80%" [nodes]="nodes" [links]="links"></graph>
<!--<app-transactions></app-transactions>-->
