<button (click)="saveAndReload()">Show Graph</button>
<button (click)="clearAndReload()">Clear Graph</button>

<div style="text-align:center" id="initial_form">
  <h1 style=" margin-top: 300px;">
    {{ title }}
  </h1>

  <!--<h3>PLEASE ENTER YOUR WALLET ID</h3>-->
  <div>
    <input [(ngModel)]="walletId" placeholder="Enter Address">
  </div>
  <button (click)="onSubmitClick()">Search</button>

  <h5 id="downloadMessage" style="display: none">
    {{downloadMessage}}
  </h5>
</div>
<!--<graph id="network_graph" style="display: block" [nodes]="nodes" [links]="links"></graph>-->
<graph id="network_graph" style="display: none" [nodes]="nodes" [links]="links"></graph>
<!--<app-transactions></app-transactions>-->
